<!DOCTYPE html>
<html>
  <head>
    <title>Quiz</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/style.css') }}"
    />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </head>
  <body
    data-json-url="{{ url_for('static', filename='Custom Study Session.json') }}"
  >
    <div class="tag-container" id="tags"></div>
    <div id="question-container"></div>

    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
  </body>
</html>
